name: Build and Deploy Game
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Check Build Output
        run: ls -R
          
      - name: Deploy to Portfolio
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          repository-name: kuyaed-1720/kuyaed-1720.github.io
          branch: main
          token: ${{ secrets.PORTFOLIO_TOKEN }}
          target-folder: my-pixi-game
